#composer & outils
/vendor/
/composer.phar
/composer.local.*
/phpunit.xml
/.phpunit.cache
/docker-compose.override.yml
/docker-compose.yml
/*.zip
/tmp/
/local/

# SPIP
# /config/*.php
# /plugins-dist/
# /squelettes-dist/
# /prive/
# /ecrire/


# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk