.liste-objets.dump tr .fichier label {
	display: block;
	width: 260px;
	word-wrap: break-word;
}
.liste-objets.dump tr .taille {
	text-align: right;
}

.formulaire_restaurer .editer div.choix {
	border: 0;
	background: none;
	padding: 0;
}